<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/detalleGatos.css" />
    <title>Detalle del gato</title>
    <%- include("partials/header.ejs") %>
    <body class="fondo-detalle-g">
<section>
    <div>
        <img src="" alt="">
               <p><% for(let i = 0; i< id.length; i++ ){%>
                    <div><%= id[i] %> </div>
                                                            <%} %> </p>
    </div>
</section>
        <h1>estas por adoptar el gatito <%=id%></h1>
        <%- include("partials/footer.ejs") %>
    </body>
</html>
