<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
    <title>animales</title>

    <body>
        <h1>Todos los animales!</h1>
        <%- include("partials/header.ejs") %> <% for (let animal of animales){%>
        <div>
            <section>
                <a href="/animales/<%= animal.id %> ">
                    <div>
                        <img src="/img/<%= animal.imagen %> " />
                    </div>
                </a>
            </section>
        </div>

        <% } %> <%- include("partials/footer.ejs") %>
    </body>
</html>
