<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/animales.css" />
    <%- include("partials/head.ejs") %>
    <title>animales</title>

    <body>
        <%- include("partials/header.ejs") %>

        <h1>Todos los animales!</h1>
        <% for (let animal of animales){%>
        <div>
            <section>
                <a href="/animales/<%= animal.id %> ">
                    <div class="contenedor">
                        <div class="contenedor-tarjetas">
                            <img class="img-clases-animales" src="/img/<%= animal.imagen %> " />
                        </div>
                    </div>
                </a>
            </section>
        </div>

        <% } %> <%- include("partials/footer.ejs") %>
    </body>
</html>
