<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/animales.css" />
    <link rel="stylesheet" href="/css/detalle-animales.css" />
    <title>Detalle de <%=animal.nombre%>
    </title>
    <%- include("partials/header.ejs") %>

        <body>
            <section class="contenedor-body">

                <h1 class="titulo-nombre">
                    <%=animal.nombre%>
                </h1>
                <div class="contenedor-tarjetas">
                    <img class="img-clases-animales img-fluid" src="/img/<%= animal.imagen %> " />
                </div>
                <div class="detalle-descripcion">
                    <%= animal.descripcion %>
                </div>
            </section>


            <div class="accordion accordion-flush sinbootstrap" id="accordionFlushExample">
                <div class="accordion-item borde-boton boton-arriba">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed desplegable" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Registrate!
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body detalle-desplegable">Para poder adoptar deberás estar registrado en
                            nuestra página. <a href="/registro">Si todavía no lo hiciste podés hacer click acá.</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item borde-boton boton-abajo">
                    <h2 class="accordion-header boton-desplegable" id="flush-headingTwo">
                        <button class="accordion-button collapsed desplegable" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Último paso para dejar tu huella!
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body detalle-desplegable">Si ya estás loggeado deberás completar con un
                            último paso para poder adoptar tu mascota.
                            Deberás completar el formulario de adopción y enviarlo.
                            <a href="formulario-adopcion">Completalo haciendo click acá.</a>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("partials/footer.ejs") %>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
                    crossorigin="anonymous"></script>
        </body>

</html>