<!DOCTYPE html>
<html lang="en">
        <title>Adopta un gato</title>
<%- include("partials/head.ejs") %>
<link rel="stylesheet" href="/css/gatos.css" />
    <body>
        <%- include("partials/header.ejs") %>
    <body>
        <section class="contenedor-gatos">
            <section class="frase-gato">Hay miles de gatos esperando una oportunidad para tener una familia</section>
                <ul class="contenedor2">
                    <div class="contenedor-tarjetas">
                    
                        <% for (let animal of animales){ 
                            if (animal.categoria == "Gato") {%> 
                        <a href="" class="nombre-animal"><%= animal.nombre %> <img class="imagen-animal" src="/img/<%= animal.imagen %> " alt="" />
                            <% } }%> 
                    </div>
                </ul>
            </section>
            <%- include("partials/footer.ejs") %>
        </body>
        </html>
       